.nav {
  @apply text-sm glass max-w-full flex gap-4 p-4 mx-0 items-center
}

.navSmall {
  @apply text-sm glass max-w-full grid grid-cols-1 mx-0 gap-4 p-4 items-center
}

.mobile {
  @apply max-w-full flex gap-4 items-center;
}

.desktop {
  @apply w-full flex gap-4 items-center;
}

.desktopItemList {
  @apply flex gap-4 w-full justify-end p-4
}

.hamburger {
  @apply w-full flex justify-end;
}

.dropdown {
  @apply w-full grid grid-cols-1 p-4 text-center;
}

.item {
  @apply hover:text-lime-600 w-full;
}

.itemMobile {
  @apply hover:bg-white hover:text-lime-600
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.fade {
  animation: fadeAnimation 0.75s ease-in 1;
}


@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
